@model List<ASPFINALPROJECT.Models.LatestFromBlog>

@foreach (var item in Model)
{
    <div class="col-md-4 col-md-6 col-sm-6 col-xs-12">
        <div class="single-blog mb-60">
            <div class="blog-img">
                <a href="@Url.Action("Details","Blog", new { Id = @item.Id })"><img src="~/Public/img/@item.Image" alt="blog"</a>
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </div>
            <div class="blog-content">
                <div class="blog-top">
                <p>By @item.users.Fullname  /  @item.CreatedDate.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o">0</i> </p>
                </div>
                <div class="blog-bottom">
                    <h2><a href="@Url.Action("Details","Blog", new { Id = @item.Id })">@item.Title</a></h2>
                    <a href="@Url.Action("Details","Blog", new { Id = @item.Id })">read more</a>
                </div>
            </div>
        </div>
    </div>
}
