@model ASPFINALPROJECT.Models.Courses

@{
    ViewBag.Title = "CoursesUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h2>Courses - Update</h2>


<form class="user" method="post" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <img src="~/Public/img/@Model.Image" width="100" />
            @Html.LabelFor(l => l.Image)
            @Html.TextBoxFor(l => l.ImageUpload, null, new { @class = "form-control form-control-user", @type = "file", name = "Image", @placeholder = "Image..." })
            @Html.ValidationMessageFor(l => l.Image, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Title)
            @Html.TextBoxFor(l => l.Title, null, new { @class = "form-control form-control-user", name = "Title", @placeholder = "Title..." })
            @Html.ValidationMessageFor(l => l.Title, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Content)
            @Html.TextAreaFor(l => l.Content, new { @class = "form-control", @id = "CKEdit" })
            @Html.ValidationMessageFor(l => l.Content, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.StartsDtp)
            @Html.TextBoxFor(l => l.StartsDtp, null, new { @class = "form-control form-control-user dtp", name = "Starts" })
            @Html.ValidationMessageFor(l => l.StartsDtp, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Duration)
            @Html.TextBoxFor(l => l.Duration, null, new { @class = "form-control form-control-user", name = "Duration", @placeholder = "Duration..." })
            @Html.ValidationMessageFor(l => l.Duration, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.ClassDuration)
            @Html.TextBoxFor(l => l.ClassDuration, null, new { @class = "form-control form-control-user", name = "ClassDuration", @placeholder = "Class duration..." })
            @Html.ValidationMessageFor(l => l.ClassDuration, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.SkillLevel)
            @Html.TextBoxFor(l => l.SkillLevel, null, new { @class = "form-control form-control-user", name = "SkillLevel", @placeholder = "SkillLevel..." })
            @Html.ValidationMessageFor(l => l.SkillLevel, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Language)
            @Html.TextBoxFor(l => l.Language, null, new { @class = "form-control form-control-user", name = "Language", @placeholder = "Language..." })
            @Html.ValidationMessageFor(l => l.Language, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Students)
            @Html.TextBoxFor(l => l.Students, null, new { @class = "form-control form-control-user", name = "Students", @placeholder = "Students..." })
            @Html.ValidationMessageFor(l => l.Students, null, new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Assesments)
            @Html.TextBoxFor(l => l.Assesments, null, new { @class = "form-control form-control-user", name = "Assesments", @placeholder = "Assesments..." })
            @Html.ValidationMessageFor(l => l.Assesments, null, new { @class = "text-danger" })
        </div>


        <div class="col-sm-12 mb-3 mb-sm-0">
            @Html.LabelFor(l => l.Fee)
            @Html.TextBoxFor(l => l.Fee, null, new { @class = "form-control form-control-user", name = "SkillLevel", @placeholder = "SkillLevel..." })
            @Html.ValidationMessageFor(l => l.Fee, null, new { @class = "text-danger" })
        </div>
    </div>
    <input type="hidden" name="Image" value="@Model.Image" />

    <button class="btn btn-primary btn-user btn-block">Submit</button>
    <hr>

    @section CKeditor{
        <script src="~/Areas/Admin/Public/ckeditor/ckeditor.js"></script>
    }

</form>


