@model ASPFINALPROJECT.Models.Courses
@using ASPFINALPROJECT.VWmodels

@foreach (var item in ViewBag.CoBack)
{
<div class="banner-area-wrapper" style="background-image: url('/Public/img/@item.Image')">

    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>@item.PageTitle Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">

                    <div class="courses-details-img">
                        <img src="~/Public/img/@Model.Image" alt="courses-details" style="width:100%">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Title</h2>
                        <p>@(Model.Content.Length>200? Html.Raw(Model.Content.Substring(0,200)) : Html.Raw(Model.Content)) </p>
                        <div class="course-details-left">
                            <p>@(Model.Content.Length>200? Html.Raw(Model.Content.Substring(200, Convert.ToInt32(Model.Content.Length-200))) : Html.Raw(Model.Content)) </p>

                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Starts.ToString("dd MMMM,yyyy")</span></li>
                                <li>duration <span>@Model.Duration Month</span></li>
                                <li>class duration <span> @Model.ClassDuration Hours </span></li>
                                <li>skill level <span>@Model.SkillLevel</span></li>
                                <li>language <span>@Model.Language</span></li>
                                <li>students <span>@Model.Students</span></li>
                                <li>assesments <span>@Model.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee $@(Model.Fee.ToString("00"))</h3>
                        </div>
                    </div>


                    @{ Html.RenderPartial("~/Views/Shared/MessagesPartial.cshtml", new MessageVM { PageName = "Courses", PostID = Model.Id }); }


                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="searchText" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>

                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/Public/img/post/post1.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post mb-30">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/Public/img/post/post2.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">Advance Web Design and Develop</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                        <div class="single-post">
                            <div class="single-post-img">
                                <a href="blog-details.html">
                                    <img src="~/Public/img/post/post3.jpg" alt="post">
                                    <div class="blog-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="single-post-content">
                                <h4><a href="blog-details.html">English Language Course for you</a></h4>
                                <p>By Alex  /  June 20, 2017</p>
                            </div>
                        </div>
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->