@model  ASPFINALPROJECT.Models.UpcomingEventss
@using ASPFINALPROJECT.VWmodels

<!-- Banner Area Start -->
@foreach (var item in ViewBag.Event)
{
<div class="banner-area-wrapper" style="background-image: url('/Public/img/@item.Image')">

    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>@item.PageTitle</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
<!-- Banner Area End -->
<!-- Event Details Start -->
<div class="event-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="event-details">
                    <div class="event-details-img">
                        <img src="~/Public/img/@Model.Image" alt="event-details">
                        <div class="event-date">
                            <h3>@Model.Date.ToString("dd, mmmm")</h3>
                        </div>
                    </div>
                    <div class="event-details-content">
                        <h2>@Model.Title</h2>
                        <ul>
                            <li><span>time : </span>@Model.startTime - @Model.EndTime</li>
                            <li><span>venue : </span>@Model.Location</li>
                        </ul>
                        <p> @Html.Raw(@Model.ContentText)</p>

                        @foreach (var item in ViewBag.fs)
                        {

                    <div class="single-speaker">
                        <div class="speaker-img">
                            <img src="~/Public/img/@item.speakers.Image" alt="speaker">
                        </div>
                        <div class="speaker-name">
                            <h5>@item.speakers.Name</h5>
                            <p>@item.speakers.ProfessionStatus</p>
                        </div>
                    </div>}

                    </div>

                    @{ Html.RenderPartial("~/Views/Shared/MessagesPartial.cshtml", new MessageVM { PageName = "Events" }); }

                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    @{ Html.RenderPartial("~/Views/Shared/SidebarPartial.cshtml");}

                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (var item in ViewBag.upcs)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a href="@Url.Action("Details","Event", new { Id = @item.Id })">
                                        <img src="~/Public/img/@item.Image" alt="post" style="width:100px">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a href="@Url.Action("Details","Event", new { Id = @item.Id })">@item.Title</a></h4>
                                    <p>By @item.publishers.Fullname  /  @item.Date.ToString("mmmm dd, 2020")</p>
                                </div>
                            </div>}
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event Details End -->