
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="@Url.Action("InfoDash","HomeP")" class="btn btn-info">Info Section</a>
<a href="@Url.Action("SliderDash","HomeP")" class="btn btn-info">Slider</a>
<a href="@Url.Action("WelcomeTehDash","HomeP")" class="btn btn-info">Welcome Section</a>
<a href="@Url.Action("Dash","NoticeBoardP")" class="btn btn-info">Notice Board</a>
<a href="@Url.Action("Dash","StudentCom")" class="btn btn-info">Student Comment</a>
