@model ASPFINALPROJECT.VWmodels.ViewModels

@{
    ViewBag.Title = "InfoDash";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <h2>Info Section - Dash</h2>



<a href="@Url.Action("InfoCreate","HomeP")" class="btn btn-info">Create Content</a>

<table class="table mt-3">
    <thead class="thead-dark" style="font-size:13px">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>        
            <th scope="col">Settings</th>

        </tr>
    </thead>
    <tbody>
        @{int i = 0; }
        @foreach (var item in Model.homeInfoSections)
        {
            i++;

            <tr style="font-size:13px">
                <th scope="row">@i</th>
                <td>@item.Title</td>
                <td>@item.Subtitle</td>

                <td>

                    <a href="@Url.Action("InfoUpdate","HomeP", new {id=item.Id })">
                        <i class="fas fa-edit"></i>
                    </a>

                    <a href="@Url.Action("InfoDelete","HomeP", new {id=item.Id })">
                        <i class="fas fa-trash-alt"></i>
                    </a>

            </tr>


        }
    </tbody>
</table>